body {
	background-color : #fff;
}

a {
	text-decoration	: none;
	color			: black;
}

.imagen_whip {
	width   		: 125px;
	height			: 110px;
	text-decoration	: none;
}

#sound {
	display 		: none;
}

#contenedor_boton {
	width			: 100%;
	float			: left;
	text-align		: center;
	font-size		: 30px;
	font-weight 	: bold;
}

.contenedor_latigo {
	float			: left;
	padding 		: 10px;
}

#play_sound {
    border                  : 2px solid black; 
    padding                 : 1px;
    -webkit-border-radius   : 10px;
    -moz-border-radius      : 10px;
    border-radius           : 10px;
}
